@charset "UTF-8";
#bar {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .bar {
      height: 25px;
      width: 150px;
      line-height: 25px;
      display: inline-block;
      border: solid 1px #000;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    #grid {
      margin: auto;
    }
    
    .blocks {
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block;
      text-align: center;
      border: solid 1px #000;
      user-select: none;
      cursor: pointer;
    }
    
    .blocks:hover {
      background: #0af;
    }